<h4 class="midlightgrey f-small fw5 ttu">基础信息</h4>
<div class="pa5 pt4 br4 shadow-1 bg-grouped-table mt2 flex flex-column flex-row-ns items-start justify-between gh-tag-basic-settings-form">
    <div class="order-1 flex flex-column items-start mr5 w-100 w-50-m w-two-thirds-l">
        {{#gh-form-group errors=tag.errors hasValidated=tag.hasValidated property="name"}}
        <label for="tag-name">一级标签</label>
         {{gh-text-input
                    id="tag-parent"
                    name="parent"
                    value=(readonly scratchParent)
                    tabindex="6"
                    input=(action (mut scratchParent) value="target.value")
                    focus-out=(action 'setProperty' 'parent' scratchParent)}}                  
        {{gh-error-message errors=tag.errors property="name"}}
        {{/gh-form-group}}
        {{#gh-form-group errors=tag.errors hasValidated=tag.hasValidated property="name"}}
        <label for="tag-parent">二级标签</label>
         {{gh-text-input
                    id="tag-name"
                    name="name"
                    value=(readonly scratchName)
                    tabindex="1"
                    input=(action (mut scratchName) value="target.value")
                    focus-out=(action 'setProperty' 'name' scratchName)}}                  
        {{gh-error-message errors=tag.errors property="name"}}
        {{/gh-form-group}}
        {{#gh-form-group errors=tag.errors hasValidated=tag.hasValidated property="slug"}}
        <label for="tag-slug">Slug</label>
        {{gh-text-input
                    value=(readonly scratchSlug)
                    id="tag-slug"
                    name="slug"
                    tabindex="2"
                    focus-out=(action 'setProperty' 'slug' scratchSlug)
                    input=(action (mut scratchSlug) value="target.value")}}
        {{gh-url-preview prefix="tag" slug=scratchSlug tagName="p" classNames="description"}}
        {{gh-error-message errors=activeTag.errors property="slug"}}
        {{/gh-form-group}}

        {{#gh-form-group errors=tag.errors hasValidated=tag.hasValidated property="description"}}
        <label for="tag-description">描述</label>
        {{gh-textarea
                    id="tag-description"
                    name="description"
                    class="gh-tag-details-textarea"
                    tabindex="3"
                    value=(readonly scratchDescription)
                    input=(action (mut scratchDescription) value="target.value")
                    focus-out=(action 'setProperty' 'description' scratchDescription)
                }}
        {{gh-error-message errors=tag.errors property="description"}}
        <p>最大: <b>500</b> 个字符. You’ve used {{gh-count-down-characters scratchDescription 500}}</p>
        {{/gh-form-group}}
    </div>
    <div class="order-0 mb6 mb0-ns order-2-ns w-100 w-50-m w-third-l">
        <label for="tag-image">图标</label>
        {{gh-image-uploader-with-preview
                                image=tag.featureImage
                                text="上传一张图片"
                                class="gh-tag-image-uploader"
                                allowUnsplash=true
                                update=(action "setCoverImage")
                                remove=(action "clearCoverImage")}}
    </div>
</div>
