{{#unless selectedTag}}
<section class="gh-canvas tags-view">
    <GhCanvasHeader class="gh-canvas-header tags-header">
        <h2 class="gh-canvas-title" data-test-screen-title>类型</h2>
        <section class="view-actions">
            <div class="gh-contentfilter gh-btn-group">
                <button class="gh-btn {{if (eq type "public") "gh-btn-group-selected"}}" {{action "changeType" "public"}}><span>公开的</span></button>
                <button class="gh-btn {{if (eq type "internal") "gh-btn-group-selected"}}" {{action "changeType" "internal"}}><span>内部的</span></button>
            </div>
            {{#link-to "tags.new" class="gh-btn gh-btn-green"}}<span>新建</span>{{/link-to}}
        </section>
    </GhCanvasHeader>
    <section class="content-list">
        <ol class="tags-list gh-list {{unless sortedTags "no-posts"}}">
            {{#if sortedTags}}
                <li class="gh-list-row header">
                    <div class="gh-list-header">类型</div>
                    <div class="gh-list-header gh-list-cellwidth-10">链接</div>
                    <div class="gh-list-header gh-list-cellwidth-10">内容个数</div>
                    <div class="gh-list-header gh-list-cellwidth-min"></div>
                </li>
                {{#vertical-collection
                    items=sortedTags
                    key="id"
                    containerSelector=".gh-main"
                    estimateHeight=60
                    bufferSize=20
                    as |tag|
                }}
                    {{gh-tags-list-item
                        tag=tag
                        data-test-tag-id=tag.id
                    }}
                {{/vertical-collection}}
            {{else}}
                <li class="no-posts-box">
                    <div class="no-posts">
                            {{svg-jar "tags-placeholder" class="gh-tags-placeholder"}}
                            <h3>您还没有 {{type}} 类型!</h3>
                            {{#link-to "tags.new" class="gh-btn gh-btn-green gh-btn-lg"}}
                                <span>创建一个</span>
                            {{/link-to}}
                    </div>
                </li>
            {{/if}}
        </ol>
    </section>
</section>
{{/unless}}
{{outlet}}